{include file="common/source"}
<script src="__STATIC__/js/plugins/fancybox/jquery.fancybox.js"></script>
<link rel="stylesheet" href="__STATIC__/js/plugins/fancybox/jquery.fancybox.css">
<script src="__STATIC__/js/plugins/pace/pace.min.js"></script>
<div class="col-sm-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>
                <!--<button type="button" onclick="window.location.href='{:url('/admin/Video/add')}'"-->
                <!--class="btn btn-w-m btn-primary">添加视频-->
                <!--</button>-->
            </h5>
        </div>
        <div class="ibox-content">
            <div class="example">

                <table class="table table-bordered table-hover text-center">
                    <thead>
                    <tr class="text-center">
                        <th style="text-align: center;">举报人</th>
                        <th style="text-align: center;">举报视频</th>
                        <th style="text-align: center;">举报类型</th>
                        <th style="text-align: center;">描述</th>
                        <!--<th style="text-align: center;">图片</th>-->
                        <th style="text-align: center;">时间</th>
                        <th style="text-align: center;">视频状态</th>
                        <th style="text-align: center;">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach $list as $key => $value}
                    <tr>
                        <td>{$value.nickname}</td>
                        <td><a href="{:url('admin/Video/info')}?id={$value.video_id}"> {$value.video_title}</a></td>
                        <td>{$value.cate_name}</td>
                        <td>{$value.content}</td>
                        <!--<td>-->
                            <!--{foreach :explode(',',$value.files_path) as $key1 => $value1}-->
                            <!--<img src="{$value1}" class="fancybox" alt="" width="38">-->
                            <!--{/foreach}-->
                        <!--</td>-->
                        <td>{$value.create_time|date="Y-m-d H:i:s"}</td>
                        <td>
                            {if $value.status == 0}
                            封禁
                            {else}
                            正常
                            {/if}
                        </td>
                        <td>
                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">审核 <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:void(0);" onclick="checkStatus(this,0,'{$value->id}')">封禁</a>
                                    </li>
                                    <li><a href="javascript:void(0);" onclick="checkStatus(this,1,'{$value->id}')">未审核</a>
                                    </li>
                                    <li><a href="javascript:void(0);" onclick="checkStatus(this,2,'{$value->id}')">审核通过</a>
                                    </li>
                                </ul>
                            </div>

                            <button onclick="window.location.href='{:url('admin/Video/info')}?id={$value->id}'" class="btn btn-info" type="button"> <span class="bold">详情</span></button>
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
            </div>
            <div style="text-align: center;">
                {$list->render()|raw}
            </div>
        </div>
    </div>
</div>
<script>

    checkStatus = function(_this,status,article_id) {
        $.ajax({
            url: "{:url('admin/Video/changeStatus')}",
            type: 'post',
            dataType: 'json',
            data:{
                video_id : article_id,
                status : status,
            },
            success: function (data) {
                if (data.code == 0) {
                    layer.msg(data.msg,{icon: 5})
                } else {
                    layer.msg('修改成功')
                    let str = ``
                    if (status == 0){
                        str = `<a href="javascript:void(0);" onclick="checkStatus(this,0,'${article_id}')">
                                   <p><span class="label label-danger">封禁</span></p>
                            </a>`
                    } else if(status == 1){
                        str = `<a href="javascript:void(0);" onclick="checkStatus(this,1,'${article_id}')">
                             <p><span class="label label-info">未审核</span></p>
                            </a>`
                    } else if(status == 2){
                        str = `<a href="javascript:void(0);" onclick="checkStatus(this,2,'${article_id}')">
                              <p><span class="label label-success">审核通过</span></p>

                            </a>`
                    }
                    // $('.status').html(str)
                }
            }
        })
    }
    $(document).ready(function(){$(".fancybox").fancybox({
        type:'iframe',
        openEffect:"none",
        closeEffect:"none",
        width:'80%',
        height:'60%'
    })});

    var removeArticle = function (_this, article_id) {
        layer.confirm('您确定删除吗',function(){
            $.ajax({
                url: "{:url('admin/Video/delete')}",
                type: 'post',
                dataType: 'json',
                data:{
                    id : article_id,
                },
                success: function (data) {
                    if (data.code == 0) {
                        layer.msg(data.msg,{icon: 5})
                    } else {
                        layer.msg('删除成功',{icon : 1})
                        $(_this).parents('tr').remove();
                    }
                }
            })
        })

    }
</script>