{include file="common/source"}
<div class="col-sm-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <!--<h5>-->
            <!--<button type="button" onclick="window.location.href='{:url('/admin/Goods/add')}'"-->
            <!--class="btn btn-w-m btn-primary">添加商品-->
            <!--</button>-->
            <!--</h5>-->
            <button type="button" onclick="window.location.href='{:url('/admin/Version/add')}'"
                    class="btn btn-w-m btn-primary">发布版本
            </button>
        </div>
        <div class="ibox-content">
            <div class="example">

                <table class="table table-bordered table-hover text-center">
                    <thead>
                    <tr class="text-center">
                        <th style="text-align: center;">版本号</th>
                        <th style="text-align: center;">是否强制安装</th>
                        <th style="text-align: center;">资源地址</th>
                        <th style="text-align: center;">发布时间</th>
                        <th style="text-align: center;">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach $list as $key => $value}
                    <tr>
                        <td>{$value.version}</td>
                        <td>{if $value.is_compel == 0}否{else}是{/if}</td>
                        <td><a href="{:url('admin/Version/download')}?source={$value.android_source}" >点击下载</a> </td>
                        <td>{$value->create_time|date="Y-m-d H:i:s"}</td>
                        <td>
                            <button onclick="window.location.href='{:url('admin/Version/edit',['id'=>$value.id])}'" class="btn btn-info" type="button"><i class="fa fa-paste"></i> 编辑</button>
                            <button onclick="removeArticle(this,'{$value.id}')" class="btn btn-danger" type="button"><i class="fa fa-remove"></i> <span class="bold">删除</span></button>
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
            </div>
            <div style="text-align: center;">
                {$list->render()|raw}
            </div>
        </div>
    </div>
</div>
<script>
    info = function(user_id){
        layer.open({
            type:2,
            content:"{:url('admin/User/info')}?user_id="+user_id,
            area: ['350px', '450px'],
        })
    }
    checkStatus = function(_this,old_status,article_id) {
        $.ajax({
            url: "{:url('admin/User/changeStatus')}",
            type: 'post',
            dataType: 'json',
            data:{
                user_id : article_id,
            },
            success: function (data) {
                if (data.code == 0) {
                    layer.msg(data.msg,{icon: 5})
                } else {
                    window.location.reload()
                }
            }
        })
    }

    seeAuth = function($id){
        var index = layer.open({
            type:2,
            content:"{:url('admin/User/authInfo')}?id="+$id
        })
        layer.full(index)
    }

    var removeArticle = function (_this, article_id) {
        $.ajax({
            url: "{:url('admin/Version/delete')}",
            type: 'post',
            dataType: 'json',
            data:{
                id : article_id,
            },
            success: function (data) {
                if (data.code == 0) {
                    layer.msg(data.msg,{icon: 5})
                } else {
                    layer.msg('删除成功',{icon : 1})
                    $(_this).parents('tr').remove();
                }
            }
        })
    }
</script>