<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, initial-scale=1.0, width=device-width" />
    <meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
    <title>入驻认证</title>

    <script src="__STATIC__/js/jquery.min.js"></script>
    <script src="__STATIC__/js/vue.min.js"></script>
    <script src="__STATIC__/js/vant.js"></script>
    <script src="__STATIC__/js/layer/layer.js"></script>
    <script src="__STATIC__/js/IPurl.js"></script>

    <link rel="stylesheet" type="text/css" href="__STATIC__/css/api.css" />
    <link rel="stylesheet" href="__STATIC__/css/weui.min.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/class.css"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/vantIndex.css"/>
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1218663_avyf5h8t28e.css">
    <!-- <script src="__STATIC__/chat/js/vconsole.min.js"></script> -->
    <style>
        body,html{
            background: #f8f8f8;
        }
        #app{
            /* padding-top: 10px; */
            box-sizing: border-box;
        }
        .weui-vcode-btn{
            color: #f92d51;
        }
        .weui-cells_form{
            margin-top: 0;
        }
        .kamiButton{
            padding: 19px 14px 5px;
            background: #fff;
        }
        .kamiButton button {
            width: 100%;
            height: 45px;
            border-radius: 24px;
            overflow: hidden;
            background-color: #3bbc78;
            box-shadow: 0px 2px 24px 0px rgba(196, 158, 133, 0.04);
            margin-bottom: 5px;
        }
        .fb_li{
            width: 100%;
            min-height: 40px;
            padding: 0 14px;
            -ms-align-items: center;
            align-items: center;
            background: #fff;
            border-bottom: 1px solid #eee;
        }
        .li_tit{
            height: 40px;
            font-size: 14px;
            color: #3b3b3b;
            line-height: 16px;
            min-width: 0;
            width: 80px;
        }
        .li_inr{
            height: 40px;
            /* padding: 0 14px; */
            font-size: 14px;
            color: #3b3b3b;
            line-height: 14px;
        }
        .spimg_box{
            width: 100%;
            padding-bottom: 16px;
            flex-wrap: wrap;

        }
        .spimg_box img{
            width: 110px;
            height: 110px;
            margin-right: 8px;
            margin-bottom: 8px;
        }
        .spimg_box img:nth-child(3n){
            margin-right: 0;
        }
        .iconnext{
            font-size: 12px;
            color: #666;
        }
        .bt1{
            border-top: 1px solid #f8f8f8;
        }
        .b1{
            border:1px solid #eee;

        }
        input[type="radio"]{
            -webkit-appearance: radio;
        }
        .xzsf{
            display: flex;
            align-items: center;
            margin-right: 20px;
        }
        .xzsf input{
            margin-right: 5px;
        }
        .upimg{
            width: 110px;
            height: 110px;
            margin-right: 8px;
            margin-bottom: 8px;
            position: relative;
        }
        .upimg img{
            width: 110px;
            height: 110px;
        }
        .upimg input{
            min-width: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 110px;
            height: 110px;
            opacity: 0;
        }
    </style>
</head>

<body>
<div id="app">
    <div class="disflex boxsiz fb_li">
        <input class="li_tit" type="text" readonly value="选择身份">
        <label class="xzsf" for="sf1"><input id="sf1" name="sf" type="radio" v-model="sf_type" value="1">老师</label>
        <label class="xzsf" for="sf2"><input id="sf2" name="sf" type="radio" v-model="sf_type" value="2"> 教育机构</label>
    </div>
    <div  v-show="sf_type==1" class="w100">
        <div class="disflex boxsiz fb_li">
            <input class="li_tit" type="text" readonly value="姓名">
            <input class="li_inr flex1 boxsiz" type="text" v-model="sf1.name" placeholder="请输入">
        </div>
        <div class="disflex boxsiz fb_li">
            <input class="li_tit" type="text" readonly value="身份证号">
            <input class="li_inr flex1 boxsiz" onKeyUp="value=value.replace(/[\W]/g,'')" type="text" v-model="sf1.sfz" placeholder="请输入">
        </div>
        <div class="disflex boxsiz fb_li">
            <input class="li_tit" type="text" readonly value="教师证号">
            <input class="li_inr flex1 boxsiz" type="text" onKeyUp="value=value.replace(/[\W]/g,'')" v-model="sf1.jsz" placeholder="请输入">
        </div>
        <div class="disflex boxsiz fb_li ju_b bt1" @click="showPicker = true">
            <input class="li_tit" style="width: 4em;" value="擅长分类"  readonly>
            <div class="disflex aic">
                <span class="c6 fz13" v-html="value?value:columns[0]"></span>
                <i class="iconfont iconnext"></i>
            </div>
        </div>
        <div class="disflex boxsiz fb_li">
            <input class="li_tit" type="text" readonly value="简短介绍">
            <input class="li_inr flex1 boxsiz" type="text" v-model="sf1.jdjs" placeholder="请输入">
        </div>
        <div class="disflex boxsiz fb_li">
            <input class="li_tit" type="text" readonly value="身份证">
            <div class="upimg mt10">
                <img :src="sf1.sfzimg?sf1.sfzimg:'__STATIC__/images/upimg.png'" alt="">
                <input data-type='sfzimg' type="file">
            </div>
        </div>
        <div class="disflex boxsiz fb_li">
            <input class="li_tit" type="text" readonly value="荣誉证">
            <div class="upimg mt10">
                <img :src="sf1.byzimg?sf1.byzimg:'__STATIC__/images/upimg.png'" alt="">
                <input data-type='byzimg' type="file">
            </div>
        </div>
    </div>
    <div  v-show="sf_type==2" class="w100">
        <div class="disflex boxsiz fb_li">
            <input class="li_tit" type="text" readonly value="机构名称">
            <input class="li_inr flex1 boxsiz" type="text" v-model="sf2.jgname" placeholder="请输入">
        </div>
        <div class="disflex boxsiz fb_li">
            <input class="li_tit" type="text" readonly value="学校简称">
            <input class="li_inr flex1 boxsiz" type="text" v-model="sf2.xxname" placeholder="请输入">
        </div>
        <div class="disflex boxsiz fb_li">
            <input class="li_tit" type="text" readonly value="统一编码">
            <input class="li_inr flex1 boxsiz" onKeyUp="value=value.replace(/[\W]/g,'')" type="text" v-model="sf2.tybm" placeholder="请输入">
        </div>
        <div class="disflex boxsiz fb_li">
            <input class="li_tit" type="text" readonly value="办学许可证">
            <input class="li_inr flex1 boxsiz" onKeyUp="value=value.replace(/[\W]/g,'')" type="text" v-model="sf2.bxykz" placeholder="请输入">
        </div>

        <div class="disflex boxsiz fb_li">
            <input class="li_tit" type="text" readonly value="机构位置">
            <input class="li_inr flex1 boxsiz" type="text" v-model="sf2.location" placeholder="请输入">
        </div>

        <div class="disflex boxsiz fb_li ju_b bt1" @click="showPicker = true">
            <input class="li_tit" style="width: 4em;" value="擅长分类"  readonly>
            <div class="disflex aic">
                <span class="c6 fz13" v-html="value?value:columns[0]"></span>
                <i class="iconfont iconnext"></i>
            </div>
        </div>
        <div class="disflex boxsiz fb_li">
            <input class="li_tit" type="text" readonly value="简短介绍">
            <input class="li_inr flex1 boxsiz" type="text" v-model="sf2.jdjs" placeholder="请输入">
        </div>
        <div class="disflex boxsiz fb_li">
            <input class="li_tit" type="text" readonly value="营业执照">
            <div class="upimg mt10">
                <img :src="sf2.yyimg?sf2.yyimg:'__STATIC__/images/upimg.png'" alt="">
                <input data-type='yyimg' type="file">
            </div>
        </div>
        <div class="disflex boxsiz fb_li">
            <input class="li_tit" type="text" readonly value="学校照片">
            <div class="upimg mt10">
                <img :src="sf2.xximg?sf2.xximg:'__STATIC__/images/upimg.png'" alt="">
                <input data-type='xximg' type="file">
            </div>
        </div>
    </div>
    <div class="kamiButton">
        <button type="button" class="fz14 cf" onclick="submit()">确定</button>
        <div class="fz12 c9">注：选择分类时，不得超出经营范围</div>
    </div>
    <van-popup v-model="showPicker" position="bottom">
        <van-picker
                show-toolbar
                :columns="columns"
                @cancel="showPicker = false"
                @confirm="onConfirm"
        />
    </van-popup>
</div>

</body>
<script type="text/javascript">

    function setupWebViewJavascriptBridge(callback) {
        if (window.WebViewJavascriptBridge) { return callback(WebViewJavascriptBridge); }
        if (window.WVJBCallbacks) { return window.WVJBCallbacks.push(callback); }
        window.WVJBCallbacks = [callback];
        var WVJBIframe = document.createElement('iframe');
        WVJBIframe.style.display = 'none';
        WVJBIframe.src = 'https://__bridge_loaded__';
        document.documentElement.appendChild(WVJBIframe);
        setTimeout(function() { document.documentElement.removeChild(WVJBIframe) }, 0)
    }
    if (window.androidJs) {
        window.androidJs.setValue();
    }

    var vm = new Vue({
        el: "#app",

        data: {
            sf_type:1,
            sf1:{
                name:'',       //姓名
                sfz:'',       //身份证号
                jsz:'',       //教师证号
                jdjs:'',       //简短介绍
                sfzimg:'',    //身份证图片
                byzimg:'',    //毕业证图片
            },
            sf2:{
                jgname:'',     //机构名称
                xxname:'',     //学校简称
                tybm:'',     //统一编码
                bxykz:'',     //办学许可证
                jdjs:'',       //简短介绍
                yyimg:'',       //营业执照
                xximg:'',       //学校照片
                location:'',
            },
            columns: [
                {foreach $list as $k => $v}
    '{$v.name}'
    {if $k - 1 != count($list)}
    ,
    {/if}
        {/foreach}
        ],

            btnkg:0,


                fenlei:[],
            showPicker: false,

            value:'{if isset($list[0]['name'])}{$list[0]['name']}{/if}',
        },
        methods:{
            onConfirm(value) {
                this.value = value;
                this.showPicker = false;
            },
        }
    });
    function imgdel(idx,type){
        if(confirm("是否要删除该图片")){
            if(type==1){
                vm.spimg.splice(idx, 1)
                vm.pics1.splice(idx, 1)
            }else{
                vm.spimg1.splice(idx, 1)
                vm.dpics1.splice(idx, 1)
            }
        }
    }
    $('input[type="file"]').on('change', function(e) {
        console.log(e.currentTarget.dataset)
        var file = e.target.files[0];
        var reader = new FileReader();
        reader.readAsDataURL(file); // 读出 base64
        reader.onloadend = function () {
            // 图片的 base64 格式, 可以直接当成 img 的 src 属性值
            var dataURL = reader.result;
            var type=e.currentTarget.dataset.type
            if(type=='sfzimg'){
                vm.sf1.sfzimg=dataURL
            }
            if(type=='byzimg'){
                vm.sf1.byzimg=dataURL
            }
            if(type=='yyimg'){
                vm.sf2.yyimg=dataURL
            }
            if(type=='xximg'){
                vm.sf2.xximg=dataURL
            }
            // 下面逻辑处理
            // scimg(reader)

        };
    });
    function getaddress(){
        layer.msg('获取定位')
    }
    function submit(){
        //登录界面
        //api.sendEvent广播登录成功事件
        var value1,IPurl

        if(vm.sf_type==1){ //老师
            /*
              name:'',       //姓名
                sfz:'',       //身份证号
                jsz:'',       //教师证号
                jdjs:'',       //简短介绍
                sfzimg:'',    //身份证图片
                byzimg:'',    //毕业证图片
            */
            if(!vm.sf1.name){
                layer.msg('请输入姓名');
                return
            }
            value1={
                name:vm.sf1.name,       //姓名
                card_number:vm.sf1.sfz,       //身份证号
                teacher_number:vm.sf1.jsz,       //教师证号
                desc:vm.sf1.jdjs,       //简短介绍
                card_pic:vm.sf1.sfzimg,    //身份证图片
                honor_pic:vm.sf1.byzimg,    //毕业证图片
                good_at_cate:vm.value,
                token:"{$token}",

            }
            IPurl="{:url('h5/H5/authPersonal')}"

        }else{   //教育机构
            /*
             jgname:'',     //机构名称
                xxname:'',     //学校简称
                tybm:'',     //统一编码
                bxykz:'',     //办学许可证
                jdjs:'',       //简短介绍
                yyimg:'',       //营业执照
                xximg:'',       //学校照片
            */
            if(!vm.sf2.jgname){
                layer.msg('请输入机构名称');
                return
            }
            if(!vm.sf2.xxname){
                layer.msg('请输入学校简称');
                return
            }
            if(!vm.sf2.tybm){
                layer.msg('请输入统一编码');
                return
            }
            if(!vm.sf2.bxykz){
                layer.msg('请输入办学许可证');
                return
            }
            if(!vm.sf2.jdjs){
                layer.msg('请输入简短介绍');
                return
            }
            value1={
                name:vm.sf2.jgname,     //机构名称
                alias_name:vm.sf2.xxname,     //学校简称
                code:vm.sf2.tybm,     //统一编码
                licence_code:vm.sf2.bxykz,     //办学许可证
                desc:vm.sf2.jdjs,       //简短介绍
                card_pic:vm.sf2.yyimg,       //营业执照
                school_pic:vm.sf2.xximg,       //学校照片
                location:vm.sf2.location,
                good_at_cate:vm.value,
                token:"{$token}",
            }
            IPurl="{:url('h5/H5/authCompany')}"
        }
        if(vm.btnkg==1){
            return
        }else{
            vm.btnkg=1
        }
        console.log(value1)

        $.ajax({
            url:IPurl,
            data:value1,
            type:"post",
            dataType:'json',
            success: function(res) {
                if(res.code == 0){
                    layer.msg(res.msg)
                }else{
                    layer.msg('提交成功')

                    setTimeout(function(){
                        // var u = navigator.userAgent;
                        // var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Linux') > -1; //android终端或者uc浏览器
                        // var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
                        // if (isAndroid) {
                        //     alert( window.android)
                        // } else if (isiOS) {
                        //     schClose()
                        // }

                        if (window.androidJs) {
                            androidJs.schClose()

                        }else{
                            setupWebViewJavascriptBridge(function(bridge) {

                                /* Initialize your app here */
                                bridge.callHandler('iOSJSClose', {'key':'value'}, function responseCallback(responseData) {
                                    console.log("JS received response:", responseData)
                                })
                            })
                        }

                    },700)
                }

            },
            error:function(e){
                api.hideProgress();
                console.log(JSON.stringify(e));

            }
        })
        /*api.ajax({
            url: IPurl,
            method: 'post',
            timeout: 30,
            dataType: 'json',
            report:true,
            returnAll: false,
            data: {
                values: formData,
            }
        }, function(ret, err) {
          console.log(JSON.stringify(ret))
          console.log(JSON.stringify(err))
          console.log(ret.progress)
            api.hideProgress();
            if (ret) {
              if(ret.error==-1){
                $api.clearStorage ()
                api.removePrefs({key: 'usermsg'})
                api.removePrefs({key: 'logintoken'})
                api.removePrefs({key: 'userid'})
                bdenglu()
                vm.btnkg=0
                return
              }
             // alert(JSON.stringify(ret))
                if (ret.error==0) {

                    // vm.ret = ret;
                    api.toast({
                        msg:'发布成功',
                        duration: 1000,
                        location: 'middle'
                    });
                  loginStatic()
                  setTimeout(function(){
                    vm.btnkg=0
                    api.sendEvent({
                       name: 'mygoodPush',
                       extra:{id:1}
                    });
                    console.log(JSON.stringify($api.getStorage('loginmsg')))
                    api.closeWin()
                  },1000);
                }else{
                  vm.btnkg=0
                    api.toast({
                        msg: ret.returnstr,
                        duration: 1000,
                        location: 'middle'
                    });
                }
                // vm.ret = ret;
            }else{
              vm.btnkg=0
                console.log(JSON.stringify(err));
            }
        })*/

    }
</script>

</html>