{include file="common/source"}
<div class="col-sm-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>
                <!--<button type="button" onclick="window.location.href='{:url('/admin/Video/add')}'"-->
                <!--class="btn btn-w-m btn-primary">添加视频-->
                <!--</button>-->
            </h5>
        </div>
        <div class="ibox-content">
            <div class="example">

                <table class="table table-bordered table-hover text-center">
                    <thead>
                    <tr class="text-center">
                        <th style="text-align: center;">用户头像</th>
                        <th style="text-align: center;">昵称</th>
                        <th style="text-align: center;">评论</th>
                        <th style="text-align: center;">回复</th>
                        <th style="text-align: center;">创建时间</th>
                        <th style="text-align: center;">是否显示</th>
                        <th style="text-align: center;">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach $list as $key => $value}
                    <tr>
                        <td><img class="img-circle" width="38" height="38" src="{$value->avatar_url}"></td>
                        <td>{$value.nickname}</td>
                        <td>{$value->comment}</td>
                        <td>{$value.comment_sum}条回复</td>
                        <td>{$value.create_time|date="Y-m-d H:i:s"}</td>
                        <td class="status">
                            {if $value->is_show == 0}
                            <a href="javascript:void(0);" onclick="checkStatus(this,0,'{$value->id}')">
                                <p><span class="label label-danger">否</span></p>
                            </a>
                            {elseif $value->is_show == 1}
                            <a href="javascript:void(0);" onclick="checkStatus(this,1,'{$value->id}')">
                                <p><span class="label label-info">是</span></p>
                            </a>

                            {/if}
                        </td>
                        <td>

                            <button onclick="window.location.href='{:url('admin/Comment/replyList')}?id={$value->id}'" class="btn btn-info" type="button"> <span class="bold">查看回复</span></button>
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
            </div>
            <div style="text-align: center;">
                {$list->render()|raw}
            </div>
        </div>
    </div>
</div>
<script>

    checkStatus = function(_this,status,article_id) {
        $.ajax({
            url: "{:url('admin/Comment/changeStatus')}",
            type: 'post',
            dataType: 'json',
            data:{
                comment_id : article_id,
                is_show : status,
            },
            success: function (data) {
                if (data.code == 0) {
                    layer.msg(data.msg,{icon: 5})
                } else {
                    layer.msg('修改成功')
                    let str = ``
                    if (status == 0){
                        str = `<a href="javascript:void(0);" onclick="checkStatus(this,1,'${article_id}')">
                             <p><span class="label label-info">是</span></p>
                            </a>`
                    } else if(status == 1){
                        str = `<a href="javascript:void(0);" onclick="checkStatus(this,0,'${article_id}')">
                                   <p><span class="label label-danger">否</span></p>
                            </a>`
                    }
                    $(_this).parents('td').html(str)

                }
            }
        })
    }


    var removeArticle = function (_this, article_id) {
        layer.confirm('您确定删除吗',function(){
            $.ajax({
                url: "{:url('admin/Video/delete')}",
                type: 'post',
                dataType: 'json',
                data:{
                    id : article_id,
                },
                success: function (data) {
                    if (data.code == 0) {
                        layer.msg(data.msg,{icon: 5})
                    } else {
                        layer.msg('删除成功',{icon : 1})
                        $(_this).parents('tr').remove();
                    }
                }
            })
        })

    }
</script>